html, *, body {
    padding: 0;
    margin: 0;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

nav {
    position: fixed;
    top: 0;
    align-items: center;
    background-color: #ffffff;
    height: 114px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 1000;
}

nav .nav-left {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    width: 10%;
}

nav .nav-right {
    width: 80%;
    display: flex;
    padding-right: 20px;
    justify-content: space-between;
}

nav .nav-right ul a{
    font-size: 24px;
    color: #000000;
}

nav .nav-right .nav-right1 {
    display: flex;
    align-items: center;
    width: 9%;
    gap: 40px;
    justify-content: space-between;
}

nav .nav-right .nav-right2 {
    display: flex;
    align-items: center;
    width: 25%;
    justify-content: space-between;
}

nav #nav-title {
    font-size: 40px;
    font-weight: 700;
    color: #000000;
    line-height: 48.41px;
}

.content {
    background: rgba(211, 211, 211, 1);
    width: 100%;
    margin-top: 120px;
    height: 1778px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.content-first {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 1336px;
    margin-top: 30px;
    padding: 60px;
    height: 1558px;
    top: 137px;
    left: 432px;
    gap: 120px;
    border-radius: 20px;
    opacity: 0px;
    background-color: white;
}

.content-first #content-first-title {
    font-family: Inter;
    font-size: 40px;
    font-weight: 700;
    line-height: 36.31px;
    text-align: left;
    color: #000000;
}

.content-first form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    gap: 120px;
    height: 60%;
}

form .form-productName,
form .form-description,
form .form-photo,
form .form-category,
form .form-amount .price,
form .form-amount .quantity {
    display: flex;
    flex-direction: column;
}

form .form-productName label,
form .form-description label,
form .form-photo label,
form .form-category label,
form .form-amount .price label, 
form .form-amount .quantity label {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.2px;
    text-align: left;
    color: #898989; 
}

form .form-productName input {
    width: 1200px;
    height: 41px;
    font-size: 15px;
    border: 1px solid rgba(168, 168, 168, 1);
    padding-left: 10px;
    border-radius: 10px;
    background: rgba(238, 238, 238, 1);
    color: black;
}

form .form-description input {
    width: 1200px;
    height: 120px;
    font-size: 15px;
    border: 1px solid rgba(168, 168, 168, 1);
    padding-left: 10px;
    border-radius: 10px;
    background: rgba(238, 238, 238, 1);
    color: black;
}


form .form-category select {
    width: 1200px;
    height: 41px;
    font-size: 15px;
    border: 1px solid rgba(168, 168, 168, 1);
    padding-left: 10px;
    border-radius: 10px;
    background: rgba(238, 238, 238, 1);
    color: black;
}

form .form-amount {
    display: flex;
    width: 1200px;
    align-items: start;
    justify-content: center;
    gap: 130px;
}

form .form-amount .quantity input,
form .form-amount .price input {
    width: 525px;
    height: 41px;
    font-size: 15px;
    border: 1px solid rgba(168, 168, 168, 1);
    padding-left: 10px;
    border-radius: 10px;
    background: rgba(238, 238, 238, 1);
    color: black;
}

form .form-photo input {
    width: 1200px;
    height: 41px;
    font-size: 15px;
    border: 1px solid rgba(168, 168, 168, 1);
    padding-left: 10px;
    border-radius: 10px;
    background: rgba(238, 238, 238, 1);
    color: black;
}

form button {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.2px;
    text-align: center;
    background: rgba(255, 203, 69, 1);
    width: 265px;
    height: 51px;
    border-radius: 10px;
    align-items: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    margin-left: 950px;
}

.main-info {
    display: flex;
    gap: 180px;
}

.main-info img {
    width: 300px;
    height: 300px;
    padding: 10px;
    margin-top: 50px;
    top: 182.16px;
    left: 109px;
    gap: 0px;
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, 1)
}

.main-info .main-info-1 {
    display: flex;
    flex-direction: column;
    gap: 120px;
}