<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.title}}</title>
    <link rel="stylesheet" href="/css/cart.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/feather-icons"></script>
</head>
<body>
    <nav>
        <div class="nav-left">
            <a href="" id="nav-title">ShineS</a>
        </div>
        <div class="nav-right">
            <ul class="nav-right1">
                <li><a href="/shines/main/home-page">Home</a></li>
                <li><a href="">Category</a></li>
                {{ if .isSeller }}
                    <li><a href="/shines/main/seller-catalog-page/">Catalog</a></li>
                {{ end }}
                {{ if .isAdmin }}
                <li><a href="/shines/main/administrator-page/">Administration</a></li>
                {{ end }}
            </ul>
            <ul class="nav-right2">
                <li><a href="">Cart</a></li>
                <li><a href="../personal-information-page/">Profile</a></li>
                <li><a href="../logout-page">Logout</a></li>
            </ul>
        </div>
    </nav>
    <div class="content">
        <div class="content-first">
            <h3>Your Cart</h3>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Product Name</th>
                        <th>Product Price</th>
                        <th>Order Quantity</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {{range $index, $transaction := .Transactions}}
                    <tr>
                        <th scope="row">{{$index | add1}}</th>
                        <td>{{$transaction.ProductName}}</td>
                        <td>{{$transaction.Price}}</td>
                        <td>{{$transaction.Quantity}}</td>
                        <td><a href="">Update</a></td>
                        <td><a href="" id="delete">Delete</a></td>
                    </tr>
                {{end}}
                </tbody>
            </table>
            <p id="costs">Total Cost: {{.totalPrice}}</p>
        </div>
    </div>
    <script>
        feather.replace();
    </script>
</body>
</html>
