<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.title}}</title>
    <link rel="stylesheet" href="/css/detailUser.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/feather-icons"></script>
</head>
<body>
    <nav>
        <div class="nav-left">
            <a href="" id="nav-title">ShineS</a>
        </div>
        <div class="nav-right">
            <ul class="nav-right1">
                <li><a href="/shines/main/home-page">Home</a></li>
                <li><a href="">Category</a></li>
                {{ if .isSeller }}
                    <li><a href="/shines/main/seller-catalog-page/">Catalog</a></li>
                {{ end }}
                {{ if .isAdmin }}
                <li><a href="/shines/main/administrator-page/">Administration</a></li>
                {{ end }}
            </ul>
            <ul class="nav-right2">
                <li><a href="">Cart</a></li>
                <li><a href="../personal-information-page/">Profile</a></li>
                <li><a href="../logout-page">Logout</a></li>
            </ul>
        </div>
    </nav>
    <div class="content">
        <div class="content-first">
            <h3>User Detail</h3>
            <div class="detail-user">
                <div class="detail-user-left">
                    <img src="/images/{{.profile.Image}}" alt="user">
                </div>
                <div class="detail-user-right">
                    <div class="detail-user-right1">
                        <h3>Personal Profile</h3>
                        <ul>
                            {{ if .profile.FirstName }}
                            <li>First Name: {{.profile.FirstName}}</li>
                            {{else}}
                            <li>First Name: Unset</li>
                            {{ end }}
                            
                            {{ if .profile.LastName }}
                            <li>Last Name: {{.profile.LastName}}</li>
                            {{else}}
                            <li>Last Name: Unset</li>
                            {{ end }}
                            
                            {{ if .profile.Address }}
                            <li>Address: {{.profile.Address}}</li>
                            {{else}}
                            <li>Address: Unset</li>
                            {{ end }}
                        </ul>                        
                    </div>
                    <div class="detail-user-right2">
                        <h3>Credential Profile</h3>
                        <ul>
                            <li>Username: {{.credential.Username}}</li>
                            <li>Email: {{.credential.Email}}</li>
                            <li>Phone: {{.credential.Phone}}</li>
                            <li>Role: {{.credential.Role}}</li>
                        </ul>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        feather.replace();
    </script>
</body>
</html>
