<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShineS</title>
</head>
<body>
    
    <div>
        <h1>Welcome to ShineS..{{.user}}</h1>
    </div>
    <br>
    <a href="/shines/main/logout-page">Logout</a>
    <a href="/shines/main/personal-information-page">Personal Information</a>
    {{ if .isSeller }}
        <a href="/shines/main/create-product-page/">Create Product</a>
    {{end}}
</body>
</html>
