<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.title}}</title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <div class="nav-left">
            <a href="" id="nav-title">ShineS</a>
        </div>
        <div class="nav-right">
            <ul class="nav-right1">
                <li><a href="/shines/main/home/">Home</a></li>
                <li><a href="">Category</a></li>
            </ul>
            <ul class="nav-right2">
                <li><a href="">Cart</a></li>
                <li><a href="../login">Login</a></li>
                <li><a href="../register">Register</a></li>
            </ul>
        </div>
    </nav>
    <div class="content">
        <div class="login-content">
            <a href="" id="login-title">{{.title}}</a>
            <form action="/authentication/login/" method="post">
                <div class="form-username">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="form-password">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
</body>
</html>
