<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.title}}</title>
    <link rel="stylesheet" href="/css/profileShop.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/feather-icons"></script>
</head>
<body>
    <nav>
        <div class="nav-left">
            <a href="" id="nav-title">ShineS</a>
        </div>
        <div class="nav-right">
            <ul class="nav-right1">
                <li><a href="/shines/main/home-page">Home</a></li>
                <li><a href="">Category</a></li>
                {{ if .isSeller }}
                    <li><a href="/shines/main/seller-catalog-page/">Catalog</a></li>
                {{ end }}
                {{ if .isAdmin }}
                <li><a href="/shines/main/administrator-page/">Administration</a></li>
                {{ end }}
            </ul>
            <ul class="nav-right2">
                <li><a href="/shines/main/cart-page/">Cart</a></li>
                <li><a href="../personal-information-page/">Profile</a></li>
                <li><a href="../logout-page">Logout</a></li>
            </ul>
        </div>
    </nav>
    <div class="content">
        <div class="content-first">
            <div class="content-first-profile">
                <img src="/images/{{.image}}" alt="" srcset="">
                <ul>
                    <li><a href="/shines/main/personal-information-page/">
                        <div class="link-user">
                            <i data-feather="user"></i>
                            <p>Personal Information</p>
                        </div>
                    </a></li>
                    <li><a href="/shines/main/credential-information-page/">
                        <div class="link-credential">
                            <i data-feather="key"></i>
                            <p>Credentials</p>
                        </div>
                    </a></li>
                    {{ if .isSeller }}
                    <li><a href="/shines/main/shop-information-page/" id="active">
                        <div class="link-seller">
                            <i data-feather="shopping-bag"></i>
                            <p>Shop Profile</p>
                        </div>
                    </a></li>
                    {{ else }}
                    <li><a href="/shines/main/shop-information-page/"
                        id="active">
                        <div class="link-seller">
                            <i data-feather="shopping-bag"></i>
                            <p>Seller Registration</p>
                        </div>
                    </a></li>
                    {{ end }}    
                </ul>
            </div>
        </div>
        <div class="content-second">
            <a href="" id="content-second-title">Seller Registration</a>
            <form method="post" enctype="multipart/form-data">
                <div class="main-info">
                    <div class="main-info-1">
                        <div class="form-shopName">
                            <label for="shopName">Shop Name</label>
                            {{ if .shopName }}
                            <input type="text" id="shopName" name="shopName" value="{{.shopName}}" required>
                            {{ else }}
                            <input type="text" id="shopName" name="shopName" required placeholder="Input Shop Name">
                            {{ end }}
                            {{ if .shopNameErr }}
                            <p class="error-message" style="color: red; font-size: 14px; font-family: inter;">{{ .shopNameErr }}</p>
                            {{ end }}
                        </div>
                        <div class="form-description">
                        <label for="description">Description</label>
                        {{ if .description }}
                        <input type="text" id="description" name="description" value="{{.description}}" required>
                        {{ else }}
                        <input type="text" id="description" name="description" required placeholder="Input Description">
                        {{ end }}
                        {{ if .descriptionErr }}
                        <p class="error-message" style="color: red; font-size: 14px; font-family: inter;">{{ .descriptionErr }}</p>
                        {{ end }}
                        </div>
                    </div>
                    <img src="/images/{{.shopImage}}" alt="" srcset="">
                </div>
                <div class="form-address">
                    <label for="address">Shop Address</label>
                    {{  if .address }}
                        <input type="text" id="address" name="address" value="{{.address}}" required>
                    {{ else }}
                        <input type="text" id="address" name="address" required placeholder="Input Your Address">
                    {{ end }}
                    {{ if .addressErr }}
                    <p class="error-message" style="color: red; font-size: 14px; font-family: inter;">{{ .addressErr }}</p>
                    {{ end }}
                </div>
                <div class="form-photo">
                    <label for="photo">Shop Photo</label>
                    <input type="file" id="photo" name="photo">
                    {{ if .fileErr }}
                    <p class="error-message" style="color: red; font-size: 14px; font-family: inter;">{{ .fieErr }}</p>
                    {{ end }}
                </div>
                <button type="submit">{{.buttonCmnd}}</button>
                </form>
            </div>
        </div>
    </div>
    <script>
        feather.replace();
    </script>
</body>
</html>
