<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.title}}</title>
    <link rel="stylesheet" href="/css/profileCredential.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/feather-icons"></script>
</head>
<body>
    <nav>
        <div class="nav-left">
            <a href="" id="nav-title">ShineS</a>
        </div>
        <div class="nav-right">
            <ul class="nav-right1">
                <li><a href="/shines/main/home-page">Home</a></li>
                <li><a href="">Category</a></li>
            </ul>
            <ul class="nav-right2">
                <li><a href="">Cart</a></li>
                <li><a href="../personal-information-page/">Profile</a></li>
                <li><a href="../logout-page">Logout</a></li>
            </ul>
        </div>
    </nav>
    <div class="content">
        <div class="content-first">
            <div class="content-first-profile">
                <img src="/images/{{.image}}" alt="" srcset="">
                <ul>
                    <li><a href="/shines/main/personal-information-page/">
                        <div class="link-user">
                            <i data-feather="user"></i>
                            <p>Personal Information</p>
                        </div>
                    </a></li>
                    <li><a href="/shines/main/credential-information-page/" id="active">
                        <div class="link-credential">
                            <i data-feather="key"></i>
                            <p>Credentials</p>
                        </div>
                    </a></li>
                    <li><a href="">
                        <div class="link-seller">
                            <i data-feather="shopping-bag"></i>
                            <p>Seller Registration</p>
                        </div>
                    </a></li>
                </ul>
            </div>
        </div>
        <div class="content-second">
            <a href="" id="content-second-title">Credential Information</a>
            <form method="post" enctype="multipart/form-data">
                <div class="form-username">
                    <label for="username">Username</label>
                        {{ if .username }}
                            <input type="text" id="username" name="username" value="{{.userName}}" required>
                        {{ else }}
                            <input type="text" id="username" name="username" required placeholder="Input Your Username">
                        {{ end }}
                </div>
                <div class="form-password">
                    <label for="password">Password</label>
                        {{ if .password }}
                            <input type="password" id="password" name="password" value="{{.password}}" required>
                        {{ else }}
                            <input type="password" id="password" name="password" required placeholder="Input Your Password">
                        {{ end }}
                </div>
                <div class="form-email">
                    <label for="email">Email</label>
                    {{ if .email }}
                        <input type="text" id="email" name="email" value="{{.email}}" required>
                    {{ else }}
                        <input type="text" id="email" name="email" required placeholder="Input Your Email">
                    {{ end }}
                    {{ if .emailErr }}
                    <p class="error-message" style="color: red; font-size: 14px; font-family: inter;">{{ .emailErr }}</p>
                    {{ end }}
                </div>
                <button type="submit">Save Changes</button>
                </form>
            </div>
        </div>
    </div>
    <script>
        feather.replace();
    </script>
</body>
</html>
