<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.title}}</title>
    <link rel="stylesheet" href="/css/register.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <div class="nav-left">
            <a href="" id="nav-title">ShineS</a>
        </div>
        <div class="nav-right">
            <ul class="nav-right1">
                <li><a href="/main/shines/home">Home</a></li>
                <li><a href="">Category</a></li>
            </ul>
            <ul class="nav-right2">
                <li><a href="">Cart</a></li>
                <li><a href="../login">Login</a></li>
                <li><a href="../register">Register</a></li>
            </ul>
        </div>
    </nav>
    <div class="content">
        <div class="register-content">
            <a href="" id="register-title">{{.title}}</a>
            <form action="/authentication/register/" method="post">
                <div class="form-username">
                    <label for="username">Username</label>
                    {{ if .usernameErr }}
                        <input type="text" name="name" value="{{.username}}" required>
                        <p style="color: red; font-size: 14px; font-family: inter;">{{ .usernameErr }}</p>
                    {{else}}
                        <input type="text" name="name" required>
                    {{ end }}
                </div>
                <div class="form-email">
                    <label for="email">Email</label>
                    {{ if .emailErr }}
                        <input type="email" name="email" required value="{{.email}}">
                        <p class="error-message" style="color: red; font-size: 14px; font-family: inter;">{{ .emailErr }}</p>
                    {{ else }}
                        <input type="email" name="email" required>
                    {{end}}
                </div>
                <div class="form-phone">
                    <label for="phone">Phone</label>
                    {{ if .phoneErr }}
                        <input type="text" name="phone" value="{{.phone}}" required>
                        <p class="error-message" style="color: red; font-size: 14px; font-family: inter;">{{ .phoneErr }}</p>
                    {{else}}
                        <input type="text" name="phone" required>
                    {{ end }}
                </div>
                <div class="form-password">
                    <label for="password">Password</label>
                    <input type="password" name="password" required>
                    {{ if .passwordErr }}
                        <p class="error-message" style="color: red; font-size: 14px; font-family: inter;">{{ .passwordErr }}</p>
                    {{ end }}
                </div>
                <button type="submit">Sign Up</button>
            </form>
        </div>
    </div>
</body>
</html>
